<html>
<head></head>
<body>
    <!--About page display-->
<h1>{{title}}</h1>
<!-- image is added here using html image tag-->
    <div class = "image">
        <img src = "/images/profile.jpg" alt="Profile" height = "250px" width = "250px" >
    </div>
    <!--head tag-->
        <h1>Akhila Pinninti</h1>
        <!-- paragraph tag with content where it can be used as id for styling-->
        <p id="content">pinnintiakhilarao@gmail.com</p>
        <p id="content">Brampton,Canada</p>
        <p id="content">I am a student at Conestoga College doing my Masters(Information Technology)in Mobile Solutions Development course</p>
        <h3><b>Technical Skills</b></h3>
        <p id="content">I have knowledge about few programming languages like C,JAVA,PYTHON,SWIFT and in frameworks like PHP,C#,.net,node.js,Express.js,Angular etc.</p><br>
        <p id="content">I graduated from Jawaharlal Nehru Technological University in the stream of Computer Science and engineering and my career objective is to to work in challenging environment enabling all my skills and efforts to explore and adapt myself in different fields, and be a part of team that dynamically works towards the growth of organization.  </p> 
        <p id="content">I was awarded merit certificate for having academic excellence, Participated in paper and poster presentations in campus,Awarded appreciation prizes for participating in sports and Participated in the State level 5K run on 'Drug Free Hyderabad' by Asian Telangana Association, State NSS Cell, Telangana. </p>
</body>
</html>    
