<html>
<head></head>
<body>
<!-- contact page-->
<h1>{{title}}</h1>
<p> You can contact me regarding any queries... </p>
    <label for="fname" id="contact">First Name</label><br>
    <input type="text" id="fname" name="firstname" placeholder="Your first name.." ><br>
    <label for="lname" id="contact">Last Name</label><br>
    <input type="text" id="lname" name="lastname" placeholder="Your last name.."><br>
    <!-- here a tag is used to link the mail so when clicking the link they can directly send the message to the mail provided-->
    <a href="mailto:pinnintiakhilarao@gmail.com" id="contact">Click on this so you can directly send any queries to my Email</a><br>
    <label for="Queries" id="contact">QUERY</label><br>
    <textarea type="text" id="Queries" name="queries" placeholder="Additional queries.." style="height:200px"></textarea><br>
    <input type="submit" value="SUBMIT">
</body></html>
