<html>
<head> 

</head>
<body> 
    <!-- Home page display using head tags and styling is added-->
    <div class = "about">
        <h1>{{title}}</h1>
        <h1><b> Welcome Everyone..</b></h1>
        <h4>This is my first online portfolio site</h4>
        <h5>To know more about my academic and personal details you can go through the About and projects page where my educational information is mentioned </h5>
    </div>
</body>
</html>